*, *:active, *:hover {
    outline: none;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.autoresize {
    width: 100%;
}

.textarea-resize-vertical {
    resize: vertical;
}